<!DOCTYPE html>
<html lang="en" >
<head th:replace="/fragments/head :: head">

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="images/nav-bg.jpg" alt="">
    </div>
    <header th:replace="/fragments/header :: header"></header>
</div>

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h4>Forgot Password</h4>
        </div>

        <p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>
        <form th:action="@{/reset-password}" method="post">

            <div class="form-group">
                <label for="email">Email</label>
                <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="Enter your email"
                        required
                        class="form-control"
                />
            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-primary rounded-pill mt-4">
                    Reset Password
                </button>
            </div>
        </form>
        <hr>
        <div>
            <a th:href="@{/login}" class="link-secondary">Login</a>
        </div>
    </div>
</section>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>